{% extends 'base.html'%}{%block titulo%}Tienda{%endblock titulo%} {% block content%}

<div id="wrapper">
	<br></br>
	<h1 class="center">Articulos en venta</h1> {%for producto in productos%}
	<div class="tabla"  align="center">
		<a href="{%url 'tienda:detalle' producto.id%}">
			<h2><img src="/media/{{producto.imagen}}" height="150" width="205"></h2>
			<h4> $ {{producto.precio}}</h4>
			<h5>{{producto.nombre}}</h5>
		</a>
		<form action="{%url 'cart:cart_add' producto.id%}" method="post">
			{%csrf_token%} {{form.as_p}}
			<button class="btn azul">
			AÑADIR AL CARRITO
			</button>
		</form>
	</div>
	{%empty%}
	<h2>No hay productos para mostrar</h2> {%endfor%}
</div>
{% endblock content%}
